@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(163, 163, 163, 0.2);
}
/* CSS Variables */
:root {
  --bg: white;
  --fg: #131313;
  --border: rgba(0, 0, 0, 0.2);
  --radius: 0.5rem;
  font-size: 16px;

  --scroll-bar-thumb: rgb(201, 201, 201);
  --scroll-bar-thumb-hover: rgb(156, 156, 156);
  --scroll-bar-track: white;
}
.dark-mode {
  --bg: #131313;
  --fg: white;
  --border: rgba(255, 255, 255, 0.2);

  --scroll-bar-thumb: rgb(51, 51, 51);
  --scroll-bar-thumb-hover: rgb(87, 87, 87);
  --scroll-bar-track: #131313;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* overflow: hidden; */
}
button {
  font: inherit;
}
p,
h1,
h2 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2 {
  text-wrap: balance;
}
a,
a:visited {
  color: var(--fg);
}
/* ----------------------------- */

/* Mobile First */

.blob {
  height: 200px;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  left: 55%;
  top: 45%;
  translate: -50% -50%;
  background: linear-gradient(
    rgb(255, 255, 49),
    rgb(255, 186, 58),
    rgb(255, 58, 58),
    rgb(195, 57, 255),
    rgb(132, 79, 255),
    rgb(63, 124, 255)
  );
  animation: rotate 4s ease-in-out infinite;
  opacity: 0.9;
  z-index: -100;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    scale: 1 1.6;
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(98px);
  /* overflow: hidden; */
  overflow-y: scroll;
  outline: none;
}
.landing {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__content {
  width: fit-content;
  /* background-color: mediumseagreen; */
  /* border: 1px solid var(--border); */
  /* border-radius: var(--radius); */
}
.title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}
.subtitle {
  /* background-color: blue; */
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.text {
  font-size: 1rem;
  font-weight: 400;
}
.links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.links__github {
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}
.links__github__a {
  color: var(--fg);
  text-decoration: none;

  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.5rem 0.75rem;
}
.links__github__a > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.links__email {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 0.5rem 0.75rem;
}
.links__email__a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border-right: 1px solid var(--border);
  padding-right: 0.75rem;
  margin-right: 0.75rem;
  text-decoration: none;
}
.btn-copy-email {
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--fg);
  border: none;
  cursor: pointer;
}
.btn-copy-email:hover {
  opacity: 0.8;
}
.btn-copy-email:active {
  opacity: 0.5;
  transition: 50ms ease-in-out;
  transform: scale(0.8);
}
.opacity-50 {
  opacity: 0.5;
}

.btn-to-details {
  background-color: transparent;
  border: none;
  color: var(--fg);
  font-size: 1rem;
  margin-top: 2rem;
  padding-bottom: 0.25rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border-color 300ms ease;
}
.btn-to-details:hover {
  border-color: var(--fg);
}

#details-section-wrapper {
  max-width: 64rem;
  margin-inline: auto;
  background-color: var(--bg);
  border-radius: var(--radius);

  font-size: 1.125rem;
  line-height: 1.5;
}
.details-section {
  padding: 2.5rem;
}
/* .details-section > .about-section > p {
} */
.projects-section {
  margin-top: 2rem;
}
.projects-section > .projects-section__head {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.projects-grid {
  display: grid;
  gap: 1.5rem;
}
.projects-grid__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* .projects-grid__item__image { */

/* } */
.projects-grid__item__image > img {
  width: 100%;
  border-radius: var(--radius);
}
.projects-grid__item__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projects-grid__item__head {
  font-weight: 700;
  font-size: 1.25rem;
}
/* .projects-grid__item__text {

} */
.projects-grid__item__repo-link {
  text-decoration: none;
  width: fit-content;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  font-size: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
#theme-toggle {
  display: flex;
  background-color: var(--bg);
  color: var(--fg);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  cursor: pointer;
}
#theme-toggle:hover {
  opacity: 0.8;
}
#theme-toggle:active {
  opacity: 0.5;
  transition: 50ms ease-in-out;
  transform: scale(0.8);
}
.reveal-top {
  animation: revealTop 1s forwards;
}
@keyframes revealTop {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.reveal-bottom {
  animation: revealBottom 1s forwards;
}
@keyframes revealBottom {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal-fade-in {
  animation: revealFadeIn 1s forwards;
}
@keyframes revealFadeIn {
  0% {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* Styles for screens wider than 600px */
@media screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-thumb);
    /* border-radius: 10px; */
  }
  ::-webkit-scrollbar-track {
    background: var(--scroll-bar-track);
    /* border-radius: 10px; */
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-thumb-hover);
  }
  /* body {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-thumb) var(--scroll-bar-track);
  } */
  .title {
    font-size: 6rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .text {
    font-size: 1.1rem;
  }
  .links {
    flex-direction: row;
  }
  .line-break {
    display: none;
  }
  .projects-grid__item {
    flex-direction: row;
  }
  .projects-grid__item__image {
    flex: 0 0 18rem;
    height: 18rem;
  }
  .footer {
    flex-direction: row;
  }
}
